<div id="<%= "message-#{message.id}" %>">
  <i><%= message.author.email %></i><br />
  <div class="flex justify-between border-solid border-2 border-sky-500 p-3">
  <%= message.body %>
    <div class="flex space-x-5">
      <%= link_to "Edit", edit_project_discussion_message_path(message.project.id, message.discussion_id, message.id), class: 'link link-primary' %>
      <%= button_to 'Destroy', project_discussion_message_path(message.project.id, message.discussion_id, message.id), method: :delete, class: 'link link-secondary' %>
    </div>
  </div>
</div>
