<div id="<%= dom_id discussion %>", class="m-5 p-5 border-solid border-2 border-sky-500">
  <div class="flex justify-between">
    <h2 class="text-xl"><%= discussion.title %></h2>
    <%= link_to "Edit", edit_project_discussion_path(discussion.project_id, discussion.id), class: "link link-primary" %>
    <%= button_to 'Destroy', project_discussion_path(discussion.project_id, discussion.id), method: :delete, class: "btn btn-outline" %>
  </div>

  <%= turbo_stream_from discussion %>

  <div id=<%= "messages-#{discussion.id}" %>>
    <%= render 'messages/messages', messages: discussion.messages %>
  </div>

  <%= form_with url: project_discussion_messages_path(@project.id, discussion.id), method: :post,
  data: { controller: "reset", action: "turbo:submit-end->reset#reset" } do |f| %>
    <%= f.text_field "message[body]" %>
    <%= f.submit "Add Message" %>
  <% end %>
</div>
