<%= render "projects/shared/projects_header" %>
<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Projects</h1>
    <%= link_to 'New project', new_project_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <%= turbo_frame_tag 'projects' do %>
    <div id="projects" class="min-w-full">
      <%= render @projects %>
    </div>
  <% end %>

  <div class="flex justify-between">
    <%= link_to 'All projects!', projects_path, class: "btn btn-outline btn-accent glass" %>
    <%= link_to 'Created by me!', projects_path(filter: 'owned'), class: "btn btn-outline btn-primary glass" %>
    <%= link_to 'Shared with me!', projects_path(filter: 'shared'), class: "btn btn-outline btn-secondary glass" %>
  </div>
</div>
